body {
  background-color: rgb(245, 193, 126);
  color: black;
  font-family: 'Crimson Text', serif;
  font-size: 22px;
  margin-bottom: auto;
}
h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
p {
  margin: 25px;
}

ul{
  margin: 20px;
}
#image-container{
  max-width:100%;
  max-height:100%;
}
img{
  width: 20%;
  margin-left: 90px;
}
button{
  background: white;
  color: black;
}
section.footer {
  background-color: grey;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 10px;
  text-align: center;
  margin-top: 40px;
}